{% load static %}

<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}ConjugaRogue{% endblock %}</title>

    <!-- load tailwind by static js file and configure it -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/tailwind_css_3_3_5.min.js' %}"></script>
    <script>
        tailwind.config = {
            darkMode: 'class',
            colors: {
                'primary': '#1fb6ff',
            }
        }
    </script>
</head>

<body class="dark">
    <div id="content" class="dark:bg-gray-900 h-full">
        {% block content %}{% endblock %}
    </div>
</body>

</html>
