<svg
    class="w-6 h-6 text-{{ color }}-600"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    viewBox="0 0 32 32"
>
    <path   class="st0" d="M17,29H7c-2.2,0-4-1.8-4-4V15c0-2.2,1.8-4,4-4h10c2.2,0,4,1.8,4,4v10C21,27.2,19.2,29,17,29z"></path>
    <circle class="st0" cx="12" cy="20" r="1"></circle>
    <circle class="st0" cx="8" cy="16" r="1"></circle>
    <circle class="st0" cx="16" cy="24" r="1"></circle>
    <circle class="st0" cx="8" cy="24" r="1"></circle>
    <path   class="st0" d="M11,11V7c0-2.2,1.8-4,4-4h10c2.2,0,4,1.8,4,4v10c0,2.2-1.8,4-4,4h-4"></path>
    <circle class="st0" cx="24" cy="8" r="1"></circle>
    <circle class="st0" cx="16" cy="16" r="1"></circle>
</svg>
